:host {
  .legend {
    small {
      font-size: x-small;
    }
  }
}
.titleinfo{
position: absolute;
top: 280px;
left: 41px;
color: #fff;
font-size: 34px;
}
.dashboardcard{
background-color: silver !important;
}
.whitetext{
  font-weight: 600;
}