.empcard{
    background-color: silver !important;
}
.empcardheading{
    background-color: #3c4b64 !important;
    
}
.wtextColor{
    color: #fff !important;
}
.cardweightalign{
    font-weight: 600 !important;
}
.rowalign{
    row-gap: 7px !important;
}
.cardheightalign{
    height: 100% !important;
}
.cardmargin{
    margin: 0 !important;
}
