<c-card class="mb-12 empcardheading cardweightalign">
    <c-card-header class="wtextColor"> Employee Info</c-card-header>

</c-card>
    <c-row>

    <c-col sm="12" xl="4">
        <c-card class="empcard cardweightalign cardheightalign">
            <c-card-header>Personal Info</c-card-header>
            <c-row class="rowalign cardmargin">
                <c-col sm="12" xl="6">
                    First Name :
                </c-col>
                <c-col sm="12" xl="6">
                    Hussain
                </c-col>
                <c-col sm="12" xl="6">
                    Middle Name :
                </c-col>
                <c-col sm="12" xl="6">
                    Basha
                </c-col>
                <c-col sm="12" xl="6">
                    Last Name :
                </c-col>
                <c-col sm="12" xl="6">
                    Syed
                </c-col>
                <c-col sm="12" xl="6">
                    Employee ID :
                </c-col>
                <c-col sm="12" xl="6">
                    283508
                </c-col>
                <c-col sm="12" xl="6">
                    Email-Id:
                </c-col>
                <c-col sm="12" xl="6">
                    hussainbasha.syed@smartims.com
                </c-col>
                <c-col sm="12" xl="6">
                  Mobile No :
                </c-col>
                <c-col sm="12" xl="6">
                    8121438955
                </c-col>
                <c-col sm="12" xl="6">
                    Department :
                </c-col>
                <c-col sm="12" xl="6">
                    Insurance
                </c-col>
                <c-col sm="12" xl="6">
                    Manager :
                </c-col>
                <c-col sm="12" xl="6">
                    Mittapalli Chenna Rao
                </c-col>
                <c-col sm="12" xl="6">
                    Role :
                </c-col>
                <c-col sm="12" xl="6">
                    Admin
                </c-col>
                <c-col sm="12" xl="6">
                    Organization :
                </c-col>
                <c-col sm="12" xl="6">
                    SmartIMS Inc.
                </c-col>
                
            </c-row>
        </c-card>
    
</c-col>
    <c-col sm="12" xl="4">
        <c-card class="empcard cardweightalign cardheightalign">
        <c-card-header>Address Details</c-card-header>
    
    <c-row class="rowalign cardmargin">
        <c-col sm="12" xl="6">
            House No  :
        </c-col>
        <c-col sm="12" xl="6">
            c1-35 
        </c-col>
        <c-col sm="12" xl="6">
            Address Line 1 :
        </c-col>
        <c-col sm="12" xl="6">
            Huda Colony
        </c-col>
        <c-col sm="12" xl="6">
            Area :
        </c-col>
        <c-col sm="12" xl="6">
           Changda Nagar
        </c-col>
        <c-col sm="12" xl="6">
            Landmark :
        </c-col>
        <c-col sm="12" xl="6">
            Huda Park
        </c-col>
        <c-col sm="12" xl="6">
            City  :
        </c-col>
        <c-col sm="12" xl="6">
            Hyderabad
        </c-col>
        <c-col sm="12" xl="6">
            State :
        </c-col>
        <c-col sm="12" xl="6">
            Telangana
        </c-col>
        <c-col sm="12" xl="6">
            Country  :
        </c-col>
        <c-col sm="12" xl="6">
            India
        </c-col>
        <c-col sm="12" xl="6">
            Pincode :
        </c-col>
        <c-col sm="12" xl="6">
            500050
        </c-col>
    </c-row>
</c-card>
    </c-col>
        
    <c-col sm="12" xl="4">
        <c-card class="empcard cardweightalign cardheightalign">
            <c-card-header>ID Proofs</c-card-header>
        
         <c-row class="rowalign cardmargin">
            <c-col sm="12" xl="6">
                Aadhar card :
            </c-col>
            <c-col sm="12" xl="6">
                8188 9056 3628
            </c-col>
            <c-col sm="12" xl="6">
                PAN Card:
            </c-col>
            <c-col sm="12" xl="6">
                DUGPS1935D
            </c-col>
            <c-col sm="12" xl="6">
                Passport :
            </c-col>
            <c-col sm="12" xl="6">
                L5376915
            </c-col>
            </c-row>
        </c-card>
    </c-col>
</c-row>

    
